<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="aharisu.Misc.SimpleAlarm"
      android:versionCode="1"
      android:versionName="1.0">
      
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    
    <application android:icon="@drawable/icon" android:label="めざまし">
        <activity android:name=".AlarmActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    <activity android:name=".AlarmSystem.AlarmAlert"></activity>
    <activity android:name=".AlarmSystem.AlarmAlertFullScreen"></activity>
    <activity android:name="SetAlarmActivity"></activity>
    
    
    <provider android:authorities="aharisu.Misc.SimpleAlarm" android:name=".AlarmSystem.AlarmProvider"></provider>
    <receiver android:name=".AlarmSystem.AlarmInitReceiver">
		<intent-filter>
		   <action android:name="android.intent.action.BOOT_COMPLETED" />
		   <action android:name="android.intent.action.TIME_SET" />
		   <action android:name="android.intent.action.TIMEZONE_CHANGED" />
		   <action android:name="android.intent.action.LOCALE_CHANGED" />
		 </intent-filter> 
    </receiver>
    <receiver android:name=".AlarmSystem.AlarmReceiver">
		 <intent-filter>
		 	<action android:name="aharisu.Misc.SimpleAlarm.ALARM_ALERT" />
		 	<action android:name="alarm_killed" />
		 	<action android:name="cancel_snooze" />
		 </intent-filter> 
    </receiver>
    
	<service android:name=".AlarmSystem.AlarmKlaxon">
		<intent-filter>
 			<action android:name="aharisu.Misc.SimpleAlarm.ALARM_ALERT" />
 		</intent-filter>
	</service>
	
	<receiver android:name="AlarmWidget">
		<meta-data
			android:name="android.appwidget.provider"
			android:resource="@xml/alarmwidget_info" />
		<intent-filter>
			<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
			<action android:name="aharisu.misc.SimpleAlarm.WIDGET_CONTROL"/>
			<action android:name="aharisu.misc.SimpleAlarm.VIEW_UPDATE" />
		</intent-filter>
	</receiver>
	<receiver android:name="AlarmWidget">
		<intent-filter>
			<action android:name="aharisu.misc.SimpleAlarm.WIDGET_CONTROL"></action>
			<data android:scheme="alarm_widget" />
		</intent-filter>
	</receiver>
	
<activity android:name="PickSoundActivity"></activity>
</application>
    <uses-sdk android:minSdkVersion="7"/>

</manifest> 